@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 904px;
  margin: 0 auto;
}
.main-head {
  display: flex;
}
.main-head-left {
  width: 30%;
}
.menu-icon {
  float: left;
}
.menu-icon ul li {
  list-style: none;
  text-align: center;
  justify-content: center;
  padding: 5px;
}
.menu-icon ul li i {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  color: black;
}

.main-head-right {
  text-align: center;
}
.main-head-right h1 {
  font-size: 28px;
}

.main-head-right img {
  margin-top: 39px;
  margin-bottom: 19px;
}
.main-head-right img {
  margin-top: 39px;
  margin-bottom: 19px;
}
.main-mid {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.main-mid img {
  margin-top: 40px;
}
.main-mid p {
  margin-top: 39px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.main-mid h2 {
  float: left;
  margin-bottom: 23px;
  margin-top: 40px;
}
.main-content {
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}
.main-content h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.main-content p {
  font-family: "SVN-Poppins";
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  margin-top: 23px;
}
.main-content-img {
  text-align: center;
  margin-bottom: 72px;
  margin-top: 10px;
}
.main-last {
  width: auto;
  background-color: #f4f6fa;
  align-items: center;
}
.main-3 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.main-last h2 {
  display: flex;
  margin-left: 200px;
  padding-top: 40px;
}
.p1 {
  font-family: "SVN-Poppins";
  font-weight: normal;
  font-style: Regular;
  font-size: 13px;
  margin-top: 18px;
}
.p2 {
  font-size: 16px;
  font-weight: bold;
  width: 346px;
  margin-top: 18px;
}
